.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;

  h2 {

    @media screen and (max-width: 700px) {
      font-size: 2.2rem;
      line-height: 2.4rem;
  
      @media screen and (max-width: 2000px) {
        font-size: 1.8rem;
      }
    }
  }
}

.intro {
  margin-top: 3rem;
  margin-bottom: 0rem;
  justify-content: center;

  p {
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
  }
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 1.2rem;

  h2 {
    font-family: var(--font-base);
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;

    @media screen and (max-width: 700px) {
      font-size: 0.94rem;
    }

    @media screen and (min-width: 2000px) {
      font-size: 1.4rem;
    }
  }

  p {
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      font-size: 0.83rem;
    }

    @media screen and (min-width: 2000px) {
      font-size: 1.2rem;
    }
  }

  img {
    margin-top: 1.5rem;
    width: 30%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 310px;
    margin: 2rem 3rem;

    img {
      width: 80%;
      height: auto;
    }

    p {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1.4rem;
    }
  }
}

.app__desc {
  flex: 1;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

}